// -------------------
//FONT SETTINGS
//--------------------
$title: 'Veneer Clean Reg Regular',
sans-serif;
$text: 'HelveticaNowText',
sans-serif;
// ------------------
// COLORS SETTINGS 
// ------------------
$black: #000;
$white: #FFF;
$primary: #0079C1;
$secondary: #EC008C;
$green: #00843D;
$orange: #E17800;
$purple: #7B0567;
$lightblue: #74CEE1;
$brand-blue-100:#0079C1;
$brand-blue-200:#74CEE1;
$brand-pink: #EC008C;
$brand-green: #00843D;
$brand-orange: #E17800;
$brand-purple: #7B0567;
$grey: #D9D9D6;
$pink: #EC008C;
$light-pink: #F2665B;
$search-highlight: #FCD3CD;
$light-grey: #ECECEA;
$blue: #0079C1;
$yellow: #F1C400;
$lilac: #9595D2;
$darkgreen: #00843D;
$red: #D22630;
$lightgrey: #D9D9D6;
$darkblue: #243C4B;
