.header-main {
    padding: 12px 0 16px;
    background-color: $white;
    opacity: 0.5;
    .logo {
        max-width: 200px;
        @include breakpoint(xl) {
            max-width: 260px;
        }
    }
}